{% extends "base.html.twig" %}

{% block body %}
{% trans_default_domain 'FOSUserBundle' %}

    <ol class="breadcrumb">
        <li><a href="{{ path('site_main_index') }}">{{ 'navbar.home'|trans }}</a></li>
        <li>{{ 'navbar.profil.index'|trans }}</li>
    </ol>

    {% block user_content %}
    {% trans_default_domain 'FOSUserBundle' %}
        <div class="fos_user_user_show " class="row">
            {% if user.imageName %}
                <div class="col-lg-4 col-md-4 col-sm-8 col-xs-12 thumb">
                     <div class="thumbnail center-cropped-user" style="background-image: url('{{ asset('images/users/' ~ user.getImageName()) }}');">
                      </div>
                </div>
               
            {% endif %}
            <h1 class="col-lg-4 col-md-4 col-sm-8 col-xs-12 thumb">{{ user.username }}</h1>
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-12 thumb">
                <a href="{{ path('fos_user_profile_edit')}}"  ><button class="btn btn-danger">{{ 'profile.show.edit'|trans }}</button></a>
            </div>
        </div>

        </div>

        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home">{{ 'navbar.home'|trans }}</a></li>
            <li><a data-toggle="tab" href="#series">{{ 'profile.show.series'|trans }}</a></li>
            <li><a data-toggle="tab" href="#friends">{{ 'profile.show.friends'|trans }}</a></li>
            <li><a data-toggle="tab" href="#criticise">{{ 'profile.show.criticises'|trans }}</a></li>
            <li><a data-toggle="tab" href="#messages">{{ 'profile.message.box'|trans }}</a></li>
        </ul>

        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">

            </div>


            <div id="series" class="tab-pane fade">
                {{ include('users/seriesUser.html.twig') }}
            </div>


            <div id="friends" class="tab-pane fade">
                
            </div>

            <div id="criticise" class="tab-pane fade">
                {{ include('users/criticiseUser.html.twig') }}
            </div>

            <div id="messages" class="tab-pane fade">
                {{ include('users/messageUser.html.twig') }}      
            </div>
        </div>
    {% endblock %}
{% endblock %}

