{% extends "base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}

<!-- breadcrumb -->
    <ol class="breadcrumb">
        <li><a href="{{ path('site_main_index') }}">{{ 'navbar.home'|trans }}</a></li>
        <li>{{ 'profile.user.of'|trans }}{{ user.username}}</li>
    </ol>
<!-- breadcrumb -->
    {% block user_content %}
<!-- user info --> 
    <div class="row">
        <div class="fos_user_user_show">
            {% if user.imageName %}
                <div class="col-lg-4 col-md-4 col-sm-8 col-xs-12 thumb">
                     <div class="thumbnail center-cropped-user" style="background-image: url('{{ asset('images/users/' ~ user.getImageName()) }}');">
                      </div>
                </div>
               
            {% endif %}
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-12 thumb">
                <h1 >{{ user.username }}</h1>
                <a><button type="button" class="btn btn-warning" id="friend">{{ 'profile.user.friend'|trans }}</button></a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-12 thumb">
                <button id="newMess" class='btn btn-success'>{{ 'profile.message.user'|trans }}</button>
                <div class="form-group hiden" id="formNewMess" style="display:none;">
                    <form method="POST"  class="ui-widget" action="{{ path('message_new',{'id':user.id}) }}">
                        {{ 'profile.message.subject'|trans }}
                        <input type="text" name='subject' class="form-control" placeholder="">
                        {{ 'profile.message.body'|trans }}
                        <textarea name='body' class="form-control"></textarea> 
                        <button class='btn btn-success' type="submit">{{ 'profile.message.send'|trans }}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
<!-- user info --> 
<!-- tab menu -->
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">{{ 'navbar.home'|trans }}</a></li>
        <li><a data-toggle="tab" href="#series">{{ 'profile.user.series'|trans }}</a></li>
        <li><a data-toggle="tab" href="#friends">{{ 'profile.user.friends'|trans }}</a></li>
        <li><a data-toggle="tab" href="#criticise">{{ 'profile.user.criticises'|trans }}</a></li>
    </ul>
<!-- tab menu -->
        <div class="tab-content">
            <div id="home" class="tab-pane fade in active"></br>

            </div>
<!-- tab content series details -->
            <div id="series" class="tab-pane fade"></br>

                {{ include('users/seriesUser.html.twig') }}
            </div>
<!-- tab content series details -->
<!-- tab content friends details -->
            <div id="friends" class="tab-pane fade"></br>
            {{ dump(friends)}}
            {% if  friends is empty %}
            Pas encore d'amis
            {% endfor %}
            {% for friend in friends  %}
                <div class="media">
                    <div class="media-left">
                        <a href="{{ path('user_show', { 'id': friend.id }) }}">
                            <div class="center-cropped" style="background-image: url('{{ asset('images/users/' ~ friend.getImageName()) }}');">
                            </div>
                        </a>
                    </div>
                    <div class="media-body">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"> 
                            <h4 class="media-heading">{{ friend.username }} </h4>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        </div>
                    </div>
                </div>
                <hr/>
                <script>
                    $("#{{ friend.username }}").click(function(){
                        $("#{{ friend.id }}").toggle(500);
                    });
                </script>
            {% endfor %}
            </div>
<!-- tab content friends details -->
<!-- tab content comments details -->
            <div id="criticise" class="tab-pane fade"></br>
                {{ include('users/criticiseUser.html.twig') }}
            </div>
<!-- tab content comments details -->
        </div>
    {% endblock %}

<script>
    $("#newMess").click(function(){
        $("#formNewMess").toggle(500);
    });

    $("#friend").on('click', function(){
        $.ajax({
            url: "{{ path('user_friend', { 'id': user.id }) }}",
            success: function(){  
                if ($("#friend").text()=='Became Friends') {
                     $("#friend").text('You are friends');
                } 
                else {
                    $("#friend").text('Became Friends');
                }
            },
            error: function() { 
            },
        });
    });
</script>
{% endblock %}