{% extends "base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}

<!-- breadcrumb -->
    <ol class="breadcrumb">
        <li><a href="{{ path('site_main_index') }}">{{ 'navbar.home'|trans }}</a></li>
        <li>{{ 'profile.user.of'|trans }}{{ user.username}}</li>
    </ol>
<!-- breadcrumb -->
    {% block user_content %}
<!-- user info --> 
    <div class="row suppPadding divWhite">
        <div class="fos_user_user_show">
            {% if user.imageName %}
                <div class="col-lg-2 col-md-2 col-sm-10 col-xs-12 ">
                    <img width="200" class="img-responsive" src="{{ asset('images/users/' ~ user.getImageName()) }}"/>
                </div> 
            {% endif %}
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
               <h1 class="titre1">{{ user.username }}</h1>
               <div class="messNotication">
                    {% if user.id in app.user.myAskForFriends %}
                        {{ 'profile.user.ask'|trans }}
                    {% elseif user.id in app.user.myFriends%}
                        {{ 'profile.user.friend'|trans }}
                </div>
                    {% else%}
                    <a href="{{ path('user_askforfriend', { 'id': user.id }) }}">
                        <button type="button" class="btn btn-warning">{{ 'profile.user.tobefriend'|trans }}</button>
                    </a>
                    {% endif%}
            </div>
        </div>
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-12 ">
                <button id="newMess" class='btn btn-success'>{{ 'profile.message.user'|trans }}</button>
                <div class="form-group hiden" id="formNewMess" style="display:none;">
                    <form method="POST"  class="ui-widget" action="{{ path('message_new',{'id':user.id}) }}">
                        {{ 'profile.message.subject'|trans }}
                        <input type="text" name='subject' class="form-control" required="required">
                        {{ 'profile.message.body'|trans }}
                        <textarea name='body' class="form-control" required="required"></textarea> 
                        <button class='btn btn-success' type="submit" required="required">{{ 'profile.message.send'|trans }}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
<!-- user info --> 
<!-- tab menu -->
    <div class="container">
    <ul class="nav nav-tabs">
      {#   <li class="active"><a data-toggle="tab" href="#home">{{ 'navbar.home'|trans }}</a></li> #}
        <li><a data-toggle="tab" href="#series">{{ 'profile.user.series'|trans }}</a></li>
        <li><a data-toggle="tab" href="#friends">{{ 'profile.user.friends'|trans }}</a></li>
        <li><a data-toggle="tab" href="#criticise">{{ 'profile.user.criticises'|trans }}</a></li>
    </ul>

<!-- tab menu -->
        <div class="tab-content">
          {#   <div id="home" class="tab-pane fade in active"></br>
            </div> #}
<!-- tab content series details -->
            <div id="series" class="tab-pane fade"></br>

                {{ include('users/seriesUser.html.twig') }}
            </div>
<!-- tab content series details -->
<!-- tab content friends details -->
            <div id="friends" class="tab-pane fade"></br>
                <div class="col-xs-12 col-sm-10 col-md-8">
                    <div class="row">
                        {% for friend in friends  %}
                            <a href="{{ path('user_show',{'id':friend.id}) }}">
                                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
                                    <figure class="thumbnail">
                                        <img src="{{ asset("images/users/" ~ friend.getImageName()) }}" class="img-responsive"/>
                                        <figcaption>{{ friend.username }}</figcaption>
                                    </figure>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
<!-- tab content friends details -->
<!-- tab content comments details -->
            <div id="criticise" class="tab-pane fade"></br>
                {{ include('users/criticiseUser.html.twig') }}
            </div>
<!-- tab content comments details -->
        </div>
    </div>
    {% endblock %}

<script>
    $("#newMess").click(function(){
        $("#formNewMess").toggle(500);
    });

</script>
{% endblock %}