{% extends "base.html.twig" %}

{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('site_main_index') }}">Home</a></li>
        <li>My Profil</li>
    </ol>

    {% block user_content %}

        <div class="fos_user_user_show " class="row">
            {% if user.imageName %}
                <div class="col-lg-4 col-md-4 col-sm-8 col-xs-12 thumb">
                     <div class="thumbnail center-cropped-user" style="background-image: url('{{ asset('images/users/' ~ user.getImageName()) }}');">
                      </div>
                </div>
               
            {% endif %}
            <h1 class="col-lg-4 col-md-4 col-sm-8 col-xs-12 thumb">{{ user.username }}</h1>
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-12 thumb">
                <a href="{{ path('fos_user_profile_edit')}}" ><button >Edit my Profil</button></a>
            </div>
        </div>

        </div>

        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
            <li><a data-toggle="tab" href="#series">My Series</a></li>
            <li><a data-toggle="tab" href="#friends">My Friends</a></li>
            <li><a data-toggle="tab" href="#criticise">My Criticises</a></li>
            <li><a data-toggle="tab" href="#messages">My Messages</a></li>
        </ul>

        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">

            </div>


            <div id="series" class="tab-pane fade">
                {{ include('users/seriesUser.html.twig') }}
            </div>


            <div id="friends" class="tab-pane fade">
                
            </div>

            <div id="criticise" class="tab-pane fade">
              {% for comment in  user.comments %}
                {{ comment.comment}}
            {% endfor   %}
            </div>

            <div id="messages" class="tab-pane fade">
                {{ include('users/messageUser.html.twig') }}      
            </div>
        </div>
    {% endblock %}
{% endblock %}

