{% extends "base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}

<!-- breadcrumb -->
    <ol class="breadcrumb">
        <li><a href="{{ path('site_main_index') }}">{{ 'navbar.home'|trans }}</a></li>
        <li>{{ 'navbar.profil.index'|trans }}</li>
    </ol>
<!-- breadcrumb -->
    {% block user_content %}
<!-- user info --> 
    <div class="row suppPadding divWhite">
            {% if user.imageName %}
                <div class="col-lg-2 col-md-2 col-sm-10 col-xs-12 ">
                    <img width="200" class="img-responsive" src="{{ asset('images/users/' ~ user.getImageName()) }}"/>
                </div> 
            {% endif %}
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                <h1 class="titre1">{{ user.username }}</h1>
                <a href="{{ path('fos_user_profile_edit')}}">
                    <button class="btn btn-warning">{{ 'profile.show.edit'|trans }}</button>
                </a>
                <div class="messNotication">
                    {% if user.askForFriends is not empty %}
                        {{ 'profile.show.askforfriends'|trans }}<br>
                    {% endif%}
                    {% if fos_message_nb_unread() != 0 %}
                        {{ 'profile.show.newmessage'|trans }}   
                    {% endif%}
                </div>
            </div>
    </div>
<!-- user info --> 
<!-- tab menu -->
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home">{{ 'navbar.home'|trans }}</a></li>
            <li><a data-toggle="tab" href="#series">{{ 'profile.show.series'|trans }}</a></li>
            <li><a data-toggle="tab" href="#friends">{{ 'profile.show.friends'|trans }}</a></li>
            <li><a data-toggle="tab" href="#criticise">{{ 'profile.show.criticises'|trans }}</a></li>
            <li><a data-toggle="tab" href="#messages">{{ 'profile.message.box'|trans }}</a></li>
        </ul>
<!-- tab menu -->
        <div class="tab-content">
            <div id="home" class="tab-pane fade in active"></br>
            </div>
<!-- tab content series details -->
            <div id="series" class="tab-pane fade"></br>
            {% if  user.seriesFollowed  is empty %}
                {{ 'profile.show.noseries'|trans }}
            {% endif %}
                {{ include('users/seriesUser.html.twig') }}
            </div>
<!-- tab content series details -->
<!-- tab content friends details -->
            <div id="friends" class="tab-pane fade"></br>
            {% if  friends is empty %}
                {{ 'profile.show.nofriends'|trans }}
            {% endif %}
                {{ include('users/friendsUser.html.twig') }}
            </div>
<!-- tab content friends details -->
<!-- tab content comments details -->
            <div id="criticise" class="tab-pane fade"></br>
            {% if  user.comments is empty %}
                {{ 'profile.show.nocriticises'|trans }}
            {% endif %}
                {{ include('users/criticiseUser.html.twig') }}
            </div>
<!-- tab content comments details -->
<!-- tab content messages details -->
            <div id="messages" class="tab-pane fade"></br>
                {{ include('users/messageUser.html.twig') }}      
            </div>
 <!-- tab content messages details -->
    </div>
    {% endblock %}
{% endblock %}

