



<li class="dropdown"><a href="{{ path('fos_user_profile_show')}}" >Profile</a></li>
<li class="dropdown"><a href="{{ path('fos_user_profile_edit')}}" >Modifier mon profil</a></li>
<li class="dropdown"><a href="{{ path('fos_user_resetting_request')}}" >Reset</a></li>
<li class="dropdown"><a href="{{ path('fos_user_change_password')}}" >change password</a></li>
<li class="dropdown"><a href="{{ path('fos_message_inbox')}}" >inbox</a></li>
<li class="dropdown"><a href="{{ path('fos_message_thread_new')}}" >new message</a></li>
<li class="dropdown"><a href="{{ path('fos_message_sent')}}" >message sent</a></li>
<li class="dropdown"><a href="{{ path('fos_message_deleted')}}" >message deleted</a></li>
