{% trans_default_domain 'FOSUserBundle' %}

<h3>Casts
<a href="{{ path('person_new', {'id' : series.id }) }}"><button class="btn btn-info pull-right">{{ 'person.new.add'|trans }}</button></a>
</h3>

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Characters</th>
                <th>Actors</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
       
            {% for person in series.persons %}
                {% if person.validated==1 %}                
                <tr>
                    <td>{{ person.character }}</td>
                    <td>{{ person }}</td>
                    <td>
<!-- buttons for person-->
                        <div class="btn-group" role="group">
                            <a href="{{ path('person_edit', { 'id': person.id }) }}"><button type="button" class="btn btn-info"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></a>
                        {% if is_granted('ROLE_MODERATOR') %}  
                            <a href="{{ path('person_delete', { 'id': person.id }) }}"><button type="button" class="btn btn-warning"><i class="fa fa-trash-o" aria-hidden="true"></i></button></a>
                        {% endif %}  
                        </div>
<!-- buttons for person-->
                    </td> 
            </tr>
            {% endif %} 
            {% endfor %}
 
        </tbody>

    </table>
</div>              