{% extends 'base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block body %}

<div class="col-md-6 col-md-offset-3">
    <h2>{{ 'person.new.title'|trans }}</h2>

    {{ form_start(form) }}

          <div class="form-group">
                {{ form_label(form.firstname, 'person.new.firstname'|trans) }}
                {{ form_errors(form.firstname) }}
                {{ form_widget(form.firstname, {'attr': {'class': 'form-control'}}) }}<br>
            </div>
            <div class="form-group">
                {{ form_label(form.lastname, 'person.new.lastname'|trans) }}
                {{ form_errors(form.lastname) }}
                {{ form_widget(form.lastname, {'attr': {'class': 'form-control'}}) }}<br>
            </div>
            <div class="form-group">
                {{ form_label(form.character, 'person.new.character'|trans) }}
                {{ form_errors(form.character) }}
                {{ form_widget(form.character, {'attr': {'class': 'form-control'}}) }}<br>
            </div>
        
        <input type="submit" class="btn btn-default" value="{{ 'person.new.confirm'|trans }}" />
    {{ form_end(form) }}

</div>
{% endblock %}
