<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}So What Series!{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css')}}"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="{{ asset('js/bootstrap.min.js')}}"></script>
        <script src="{{ asset('jquery-ui-1.11.4/jquery-ui.js')}}"></script>
        <link rel="stylesheet" href="{{ asset('jquery-ui-1.11.4/jquery-ui.css')}}">
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css')}}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header class="row text">
          <div class="container">
            <a href="/"><img class="col-md-2" src="/images/Logo.png"></a>
          </div>
        </header>  
        {% block menu %}
        {% trans_default_domain 'FOSUserBundle' %}
            <!-- Fixed navbar -->

        <nav class="navbar divNav">
            <div class="container-fluid">
                <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="navbar-form" role="search">
                            <div class="form-group">
                                <form method="POST"  class="ui-widget" action="{{ path('site_main_search') }}">
                                    <input type="text" name='search' class="form-control" placeholder="Search" id="search">
                                    <button type="submit">
                                    <span class="glyphicon glyphicon-search"></span>
                                  </button>
                                </form>
                            </div>
                        </li>
                        <li>
                            <a class="textnav" href="{{ path('series_index')}}" >{{ 'navbar.series.index'|trans }}</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a class="textnav" href="{{ path('user_profil')}}" >
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                    {% if fos_message_nb_unread() != 0 %}
                                        {{ fos_message_nb_unread() }} <i class="fa fa-envelope"  style="color:#59BD73"></i>
                                    {% endif %}
                                {% endif %}
                            </a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle textnav" data-toggle="dropdown" href="">   {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                    {{ app.user.username }}
                                    {% else %}
                                    PROFIL
                                {% endif %}
                            <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('user_profil')}}" >
                                {{ 'navbar.profil.index'|trans }}</a></li>
                                <li><a href="{{ path('user_index')}}" >{{ 'navbar.profil.all'|trans }}</a></li>
                                {% if is_granted('ROLE_SUPER_ADMIN') %} <li role="separator" class="divider"></li>
                                <li class="dropdown-header">Administration</li>   
                                <li><a href="{{ path('superadmin_index')}}">{{ 'navbar.profil.superadmin'|trans }}</a></li> 
                                {% endif %}
                                {% if is_granted('ROLE_MODERATOR') %}    
                                <li><a href="{{ path('moderator_index')}}">{{ 'navbar.profil.moderator'|trans }}</a></li> 
                                {% endif %}         
                            </ul>
                        </li>
                        <li>
                            <a a class ="textnav" href="{{ path('fos_user_registration_register')}}"><span class="glyphicon glyphicon-user "></span>{{ 'navbar.log.signup'|trans }}</a>
                        </li>
                        <li>
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <a class ="textnav" href="{{ path('fos_user_security_logout')}}"><span class="glyphicon glyphicon-log-out"></span class ="textnav"> {{ 'navbar.log.logout'|trans }}</a>
                            {% else %}
                                <a class ="textnav" href="{{ path('fos_user_security_login')}}"><span class="glyphicon glyphicon-log-in"></span> {{ 'navbar.log.login'|trans }}</a>
                            {% endif %}
                        </li>
                        <li>
                            <a class ="textnav" href="{{ path('site_main_language', { '_locale': 'en' }) }}">En</a>
                        </li>
                        <li>
                            <a class ="textnav" href="{{ path('site_main_language', { '_locale': 'fr' }) }}">Fr</a>
                        </li>
                    </ul>
                </div>
                </div>
            </div>
        </nav>
        {% endblock %}
        {% block header %}
        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
        
        {% if app.session.flashBag.get('alert') %}
            {% for flash_message in app.session.flashBag.get('alert') %}
                <div class="flash-notice">
                    {{ flash_message }}
                </div>
            {% endfor %}
        {% endif %}
        {% endblock %}
        <main>
            <div class="container">
                
        {% block body %}
            {% block fos_user_content %}
            {% endblock %}
            {% block fos_message_content %}
            {% endblock %}
        {% endblock %}
        
            </div>
        </main>
        <footer class="footer">
            <h6 class="text-center">Copyright 2016 © Tous droits réservés</h6>
            <h6 class="text-center">Propriété IMIE - Création SHUKAVAT</h6>
        </footer>
        {% block javascripts %}
            <script >
            $('#search').on('keyup', function(e){
                    var input = $('#search');
                    var motcle = $('#search').val();
                    var DATA = 'motcle=' + motcle;
                if(motcle.length >= 2){
                    $.ajax({
                        url: "{{ path('site_main_searchAutocomplete') }}",
                        type: 'GET',
                        datatype: 'json',
                        data : DATA,
                        success : function(donnees){
                            input.autocomplete({
                            source: donnees
                            });
                        }
                    });
                }
            });
            </script>
        {% endblock %}
        </div>
    </body>
</html>