<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome to So What Series!{% endblock %}</title>
        {% block stylesheets %}

        <link rel="stylesheet" href="{{ asset('bundles/framework/css/bootstrap.min.css')}}"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="{{ asset('bundles/framework/js/bootstrap.min.js')}}"></script>
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/framework/css/style.css')}}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        
    </head>
    <body>
    <div class="container">
             

        {% block menu %}
            <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="glyphicon glyphicon-search"></span>
            </button>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="">So What series !</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{ path('site_main_index') }}">Home</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="">Series<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('series_index')}}" >All Series</a></li>
                    <li><a href="{{ path('series_new')}}" >Add a Series</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="">season<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('season_index')}}" >All season</a></li>
                    <li><a href="{{ path('season_new')}}" >Add an season</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="">Episode<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('episode_index')}}" >All Episodes</a></li>
                    <li><a href="{{ path('episode_new')}}" >Add an Episode</a></li>
                </ul>
            </li>
            <li class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <form method="POST"  class="ui-widget" action="{{ path('site_main_search') }}">
                      <input type="text" name='search' class="form-control" placeholder="Search" id="search">
                      <button type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                      </button>
                    </form>
                </div>
            </li>

          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="">Profil
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('fos_user_profile_show')}}" >mon Profil</a></li>
                    <li><a href="{{ path('user_index')}}" >tout les Profil</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Administration</li>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}    
                    <li><a href="{{ path('superadmin_index')}}">Super Administrater's Page</a></li> 
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}    
                    <li><a href="{{ path('site_main_admin')}}">Moderator's Page</a></li> 
                    {% endif %}         
                </ul>
                </li>
                <li><a href="{{ path('fos_user_registration_register')}}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>

                <li>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <a href="{{ path('fos_user_security_logout')}}"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
                {% else %}
                    <a href="{{ path('fos_user_security_login')}}"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                {% endif %}
                </li>
                <li><a href="{{ path('site_main_index', { '_locale': 'en' }) }}">En</a></li>
                <li><a href="{{ path('site_main_index', { '_locale': 'fr' }) }}">Fr</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

        {% endblock %}

        {% block header %}
        <!-- <div class="text-center">
        <a href="{{ path('site_main_index')}}" ><img src="{{ asset('bundles/framework/images/blog.jpg')}}" alt=""></a></div> -->

        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
        
        {% if app.session.flashBag.get('alert') %}
            {% for flash_message in app.session.flashBag.get('alert') %}
                <div class="flash-notice">
                    {{ flash_message }}
                </div>
            {% endfor %}
        {% endif %}

        {% endblock %}

        <main>
            <div class="container">
                
        {% block body %}
            {% block fos_user_content %}
            {% endblock %}
            {% block fos_message_content %}
            {% endblock %}
        {% endblock %}
        
            </div>
        </main>
        <footer>
            <h6 class="text-center">Copyright 2016 © Tous droits réservés</h6>
            <h6 class="text-center">Propriété IMIE - Création SHUKAVAT</h6>
        </footer>

        {% block javascripts %}


            <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>‌


            <script >
            $('#search').on('keyup', function(e){
                    var input = $('#search');
                    var motcle = $('#search').val();
                    var DATA = 'motcle=' + motcle;
                if(motcle.length >= 2){
                    $.ajax({
                        url: "{{ path('site_main_searchAutocomplete') }}",
                        type: 'GET',
                        datatype: 'json',
                        data : DATA,
                        success : function(donnees){
                            var tab =[];
                            for(var i= 0; i < donnees.length; i++)
                            {
                                tab.push(donnees[i].name);
                            }
                            input.autocomplete({
                            source: tab
                            });
                        }
                    });
                }
            });
            // $("li").on("click", function(){
            //     $(".nav").find(".active").removeClass("active");
            //     $(this).parent().addClass("active");
            // });

            </script>

        {% endblock %}
        </div>
    </body>
</html>