{% extends 'base.html.twig' %}

{% block body %}
    <h1>CommentPreference</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commentPreference.id }}</td>
            </tr>
            <tr>
                <th>Liked</th>
                <td>{% if commentPreference.liked %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('commentpreference_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('commentpreference_edit', { 'id': commentPreference.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
