    <h1>Comment creation</h1>
    {{ form_start(form) }}
    <!-- {{ form_start(form, {'action': path('comment_new'), 'method': 'POST'}) }} -->
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('series_index') }}">Back to the series list</a>
        </li>

    </ul>