
     <h1>Comment</h1>

    <table class="table">
        
        <thead>
            <tr>
                <th>Id</th>
                <th>User</th>
                <th>Episode</th>
                <th>Comment</th>
                <th>Date</th>
                <th>Actions</th>

            </tr>
        </thead>
        <tbody>
            {% for comment in series.comments %}
            <tr>
                
                <td>{{ comment.id }}</td>  
                <td>{{ comment.user }}</td>

                {% if comment.episode %}
                    
                    <td>{{ comment.episode }}</td>
                {% endif %}

                <td>{{ comment.comment }}</td>

                <td>{% if comment.date %}{{ comment.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                
                <td><a href="{{ path('commentpreference_pref', { 'commentId': comment.id, 'seriesId': series.id, 'pref':1 }) }}"><button>
<!--                     
                    {% for userPref in comment.usersPreferences %}

                        {% if app.user==userPref.user and userPref.liked==1 %}Liked
                        {% else %}Like 
                        {% endif %}
                    {% endfor %} -->
                    Like
                        </button></a></td>

                <td><a href="{{ path('commentpreference_pref', { 'commentId': comment.id, 'seriesId': series.id, 'pref':0 }) }}"><button>
<!--                     {% for userPref in comment.usersPreferences %}
                        {% if app.user==userPref.user and userPref.liked==1 %}Disliked
                        {% else %}Dislike 
                        {% endif %}
                    {% endfor %} -->
                    Dislike
                        </button></a></td>

               
                {% if is_granted('ROLE_ADMIN') or app.user==comment.user %}    

                    <td><a href="{{ path('comment_edit', { 'id': comment.id }) }}">Edit</a></td>
                    <td><a href="{{ path('comment_delete', { 'id': comment.id }) }}"><button>Delete this comment</button></a></td>
                {% endif %}
            </tr>

        {% endfor %}    
        </tbody>
    </table>

