{% trans_default_domain 'FOSUserBundle' %}

<p>{{ 'series.choose'|trans }}</p>


<span class="rating">
	  <a href="{{ path('seriesrating_new', { 'id': series.id, 'ratings' : 5 }) }}" class="star"></a>
	  <a href="{{ path('seriesrating_new', { 'id': series.id, 'ratings' : 4 }) }}" class="star"></a>
	  <a href="{{ path('seriesrating_new', { 'id': series.id, 'ratings' : 3 }) }}" class="star"></a>
	  <a href="{{ path('seriesrating_new', { 'id': series.id, 'ratings' : 2 }) }}" class="star"></a>
	  <a href="{{ path('seriesrating_new', { 'id': series.id, 'ratings' : 1 }) }}" class="star"></a>
          
</span>

<hr/>