
    {% if season.episodes %}
        {% for episode in season.episodes %}
<!-- accordion for episodes in a series -->
            <div class="panel panel-default">
<!-- episodes numbers and titles --> 
                <div class="panel-heading">
                    <h4 class="panel-title">

                      <a data-toggle="collapse" data-parent="#accordion" href="#episode{{episode.id}}">Episode {{episode.episode}} - {{episode.title}}</a>
                    </h4>
                </div>
<!-- episodes numbers and titles --> 
                  <div id="episode{{episode.id}}" class="panel-collapse collapse">
                    <div class="panel-body">
<!-- episode buttons : viewed/edit/delete --> 
                        <div class="btn-group pull-right" role="group">
                        {% if app.user %}
                            <a><button class="btn btn-info" id="watch{{episode.id}}"><i class="fa fa-eye" id="eye{{episode.id}}" aria-hidden="true"></i></button></a>
                        {% else %}  
                            <a href="{{ path('episode_watch', { 'id': episode.id }) }}"><button class="btn btn-info" ><i class="fa fa-eye" aria-hidden="true"></i></button></a>
                        {% endif %} 

                        {% if is_granted('ROLE_MODERATOR') %}    
                            <a href="{{ path('episode_edit', { 'id': episode.id }) }}"><button type="button" class="btn btn-secondary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></a>
                            <a href="{{ path('episode_delete', { 'id': episode.id }) }}"><button type="button" class="btn btn-secondary"><i class="fa fa-trash-o" aria-hidden="true"></i></button></a>
                        {% endif %}                                                
                        </div>
<!-- episode buttons : viewed/edit/delete --> 
                      
                          {# if app.request.getLocale()=='en' #}
                            <p>{{serie.synopsisEn}}</p>
                          {# else #}
                            <p>{{serie.synopsisFr}}</p>
                          {# endif #}
                    </div>
                </div>
            </div>
<!-- accordion for episodes in a series -->
<script>
            $("#watch{{episode.id}}").on('click', function(){

                    $.ajax({
                        url: "{{ path('episode_watch', { 'id': episode.id }) }}",
                        // data: ,
                        success: function(){
                            if ($("#eye{{episode.id}}").hasClass("fa-eye")){
                                $("#eye{{episode.id}}").addClass("fa-eye-slash").removeClass("fa-eye"); 
                            } else {
                                $("#eye{{episode.id}}").addClass("fa-eye").removeClass("fa-eye-slash"); 
                            }                              
                        },
                        error: function() { },                            
                    });
            });
            $.ajax({
                    url: "{{ path('episode_iswatched', { 'id': episode.id }) }}",
                    // data: ,
                    success: function(data){                              
                        if (data.watched) {
                            $("#eye{{episode.id}}").addClass("fa-eye-slash").removeClass("fa-eye"); 
                        }
                    },
                    error: function() {},
                });
            </script>
        {% endfor %} 
    {% endif %} 