{% trans_default_domain 'FOSUserBundle' %}
    <ul>
        <li>
            <a href="{{ path('series_new') }}">{{ 'series.propose'|trans }}</a>
        </li>
    </ul>


    {% for serie in series %}
        <figure>
            <a href="{{ path('series_show', { 'id': serie.id }) }}"><img src="{{ serie.poster }}" alt="{{ serie.name }}" height=300 /></a>
            <figcaption>{{ serie.name }}</figcaption>
            
        </figure>

    {% endfor %}
