{% extends 'base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
<div class="divWhite">
	<h1 class="titre1">{{ 'series.list'|trans }}</h1>
	<a class="btn btn-warning" href="{{ path('series_new') }}">{{ 'series.propose'|trans }}</a>

  		<div class="navigation">
  		{{ knp_pagination_render(pagination) }}
  		</div>

</div>
{{ include('series/index_content.html.twig', { 'pagination': pagination }) }}

{% endblock %}