{% extends 'base.html.twig' %}

{% block body %}
    <h1>Series list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Synopsis</th>
                <th>Poster</th>
                <th>Persons</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for series in series %}
            <tr>
                <td><a href="{{ path('series_show', { 'id': series.id }) }}">{{ series.id }}</a></td>
                <td>{{ series.name }}</td>
                <td>{{ series.synopsis }}</td>
                <td>{{ series.poster }}</td>
                <td>{{ series.persons }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('series_show', { 'id': series.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('series_edit', { 'id': series.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('series_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
