
    <ul>
        <li>
            <a href="{{ path('series_new') }}">Create a new entry</a>
        </li>
    </ul>


    {% for series in series %}
        <figure>
            <a href="{{ path('series_show', { 'id': series.id }) }}"><img src="{{ series.poster }}" alt="{{ series.name }}" height=300 /></a>
            <figcaption>{{ series.name }}</figcaption>
            
        </figure>

    {% endfor %}
