{% trans_default_domain 'FOSUserBundle' %}
    <ul>
        <li>
            <a href="{{ path('series_new') }}">{{ 'series.propose'|trans }}</a>
        </li>
    </ul>


    {% for s in series %}
        <figure>
            <a href="{{ path('series_show', { 'id': s.id }) }}"><img src="{{ asset('images/series/' ~ s.getImageName()) }}" alt="{{ s.name }}" height=300 /></a>
            <figcaption>{{ s.name }}</figcaption>
            
        </figure>

    {% endfor %}
