{% extends 'base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <h1>{{ 'series.propose'|trans }}</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Submit" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('series_index') }}">{{ 'series.back'|trans }}</a>
        </li>
    </ul>
{% endblock %}
