{% extends 'base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block body %}

<div class="col-md-6 col-md-offset-3">
    <h2>{{ 'series.propose'|trans }}</h2>
    <form role="form">
        <div class="form-group">

            {{ form_label(form.name) }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}<br>

            {{ form_label(form.creator) }}
            {{ form_widget(form.creator, {'attr': {'class': 'form-control'}}) }}<br>

            {{ form_label(form.year) }}
            {{ form_widget(form.year, {'attr': {'class': 'form-control'}}) }}<br>

            {{ form_label(form.synopsis) }}
            {{ form_widget(form.synopsis, {'attr': {'class': 'form-control'}}) }}<br>

            {{ form_label(form.imageFile) }}
            {{ form_widget(form.imageFile, {'attr': {'class': 'btn btn-default'}}) }}<br>

            {{ form_label(form.language) }}
            {{ form_widget(form.language, {'attr': {'class': 'form-control'}}) }}<br>

        </div>
            <h3>Casts</h3>
            <ul class="persons" data-prototype="{{ form_widget(form.persons.vars.prototype)|e}}">
                {# iterate over each existing tag and render its only field: name #}
                {% for person in form.persons %}
                    {{ form_label(person.firstname) }}
                    {{ form_widget(person.firstname, {'attr': {'class': 'form-control'}}) }}
                    {{ form_label(person.lastname) }}
                    {{ form_widget(person.lastname, {'attr': {'class': 'form-control'}}) }}
                    {{ form_label(person.character) }}
                    {{ form_widget(person.character, {'attr': {'class': 'form-control'}}) }}
                {% endfor %}
                {% do form.persons.setRendered %} 
            </ul>
                

            
            <button type="submit" class="btn btn-default"/>{{ 'registration.submit'|trans }}</button>


            <ul>
                <li>
                    <a href="{{ path('series_index') }}">{{ 'series.back'|trans }}</a>
                </li>
            </ul>

        </div>
    </form>
</div>


<script>
    
var $collectionHolder;

// setup an "add a tag" link
var $addTagLink = $('<a href="#" class="add_person_link">Add a Person</a>');
var $newLinkLi = $('<button></button>').append($addTagLink);

jQuery(document).ready(function() {
    // Get the ul that holds the collection of tags
    $collectionHolder = $('ul.persons');

    // add the "add a tag" anchor and li to the tags ul
    $collectionHolder.append($newLinkLi);

    // count the current form inputs we have (e.g. 2), use that as the new
    // index when inserting a new item (e.g. 2)
    $collectionHolder.data('index', $collectionHolder.find(':input').length);

    $addTagLink.on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();

        // add a new tag form (see next code block)
        addPersonForm($collectionHolder, $newLinkLi);
    });

    // add a delete link to all of the existing tag form li elements
    $collectionHolder.find('ul.persons').each(function() {
        addPersonFormDeleteLink($(this));
    });


});

function addPersonForm($collectionHolder, $newLinkLi) {
    // Get the data-prototype explained earlier
    var prototype = $collectionHolder.data('prototype');

    // get the new index
    var index = $collectionHolder.data('index');

    // Replace '__name__' in the prototype's HTML to
    // instead be a number based on how many items we have
    var newForm = prototype.replace(/__name__/g, index);

    // increase the index with one for the next item
    $collectionHolder.data('index', index + 1);

    // Display the form in the page in an li, before the "Add a tag" link li
    var $newFormLi = $('<li></li>').append(newForm);
    $newLinkLi.before($newFormLi);

    // add a delete link to the new form
    addPersonFormDeleteLink($newFormLi);
}

function addPersonFormDeleteLink($tagFormLi) {
    var $removeFormA = $('<button><a href="#">delete this Person</a></button>');
    $tagFormLi.append($removeFormA);

    $removeFormA.on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();

        // remove the li for the tag form
        $tagFormLi.remove();
    });
}
</script>

{% endblock %}
