{% extends 'base.html.twig' %}
    {% block body %}
    <h1>Series</h1>

                {% if series.poster %}
                    <img src="{{ series.poster }}" alt="" height=300 />
                {% endif %}
    <table class="table">
        <tbody>
            <tr>
                <td>Id</td>
                <td>{{ series.id }}</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>{{ series.name }}</td>
            </tr>
            <tr>
                <td>Synopsis</td>
                <td>{{ series.synopsis }}</td>
            </tr>

            <tr>
                <td>Persons</td>
                <td>{{ series.persons }}</td>
            </tr>
            <tr>
                <td>Ratings</td>
                <td>{{ average}}</td>
            </tr>
            <tr>
                <td>Followed By</td>
                <td>{% for user in series.followedBy %}
                    {{user.username}}
                {% endfor %}
                </td>
            </tr>

            <tr>    
                
                <td><a href="{{ path('propose_changes', { 'id': series.id }) }}"><button>Propose Changes</button></a></td>
                
                <td><a href="{{ path('series_follow', { 'id': series.id }) }}"><button>Follow {{ series.name }}</button></a></td>                
                {% if is_granted('ROLE_ADMIN') %}    
                    {% if series.validated==0 %} 
                        <td><a href="{{ path('series_validate', { 'id': series.id }) }}"><button>Validate</button></a></td>
                    {% endif %}
                <td><a href="{{ path('series_edit', { 'id': series.id }) }}"><button>Edit</button></a></td>
                                        
                <td>
                        {{ form_start(delete_form) }}
                        <input type="submit" value="Delete series by admin only">
                        {{ form_end(delete_form) }}
                    {% endif %}
                </td>
            </tr>            


        </tbody>
    </table>
    {{ include('seriesrating/new.html.twig') }}

    {{ include('comment/show.html.twig', { 'series.comments': series.comments }) }}

    {{ include('comment/new.html.twig', { 'form': form }) }}

    <ul>
        <li>
            <a href="{{ path('series_index') }}">Back to the series list</a>
        </li>

    </ul>

{% endblock %}
