{% extends 'base.html.twig' %}
    {% block body %}
    <h1>Series</h1>

                {% if series.poster %}
                    <img src="{{ series.poster }}" alt="" height=300 />
                {% endif %}
    <table class="table">
        <tbody>
            <tr>
                <td>Id</td>
                <td>{{ series.id }}</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>{{ series.name }}</td>
            </tr>
            <tr>
                <td>Synopsis</td>
                <td>{{ series.synopsis }}</td>
            </tr>

            <tr>
                <td>Persons</td>
                <td>{{ series.persons }}</td>
            </tr>
            <tr>
                <td>Ratings</td>
                <td>{{ average}}</td>
            </tr>

            <tr>    
                <td><a href="{{ path('series_edit', { 'id': series.id }) }}"><button>Edit this series</button></a></td>
                                        
                <td>
                    {% if is_granted('ROLE_ADMIN') %}    

                        {{ form_start(delete_form) }}
                        <input type="submit" value="Delete series by admin only">
                        {{ form_end(delete_form) }}
                    {% endif %}
                </td>
            </tr>            


        </tbody>
    </table>
    {{ include('seriesrating/new.html.twig', { 'ratingForm': ratingForm }) }}

    {{ include('comment/show.html.twig', { 'series.comments': series.comments }) }}

    {{ include('comment/new.html.twig', { 'form': form }) }}

{% endblock %}
