{% extends 'base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}

    {% if series %}
{% set dir = "/home/imie/public_html/filRouge/web/bundles/framework/images/series" %}
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="{{ path('site_main_index') }}">{{ 'navbar.home'|trans }}</a></li>
            <li><a href="{{ path('series_index') }}">{{ 'navbar.series.index'|trans }}</a></li>
            <li class="active">{{ series.name }}</li>
        </ol>

        {% if series.imageName %}
        <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 thumb">  

           
                <img class="thumbnail img-responsive" src="{{ asset('bundles/framework/images/series/' ~ series.getImageName()) }}" alt="{{ series.name }}" > 
            
        </div>
        {% endif %}
        <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12 thumb">
            <h1 class="page-header">{{ series.name }}</h1>
                
                    <h3>{{ 'series.rating'|trans }}</h3>
                    <li>{{ average }}</li>
                 
                {{ include('seriesrating/new.html.twig') }}
                    {% if is_granted('ROLE_ADMIN')==false %}
                   <a href="{{ path('propose_changes', { 'id': series.id }) }}"><button class="btn btn-info">{{ 'series.change'|trans }}</button></a>
                    {% endif %}

                    {% if app.user %}
                   <a><button class="btn btn-success" id="followSeries">{{ 'series.follow'|trans }}</button></a> 
                    {% else %} 
                    <a href="{{ path('series_follow', { 'id': series.id }) }}"><button class="btn btn-success">{{ 'series.follow'|trans }}</button></a> 
                    {% endif %} 

                    {% if is_granted('ROLE_ADMIN') %}    
                        {% if series.validated==0 %} 
                           <a href="{{ path('series_validate', { 'id': series.id }) }}"><button class="btn btn-warning">{{ 'series.validate'|trans }}</button></a>
                        {% endif %}
                   <a href="{{ path('series_edit', { 'id': series.id }) }}"><button class="btn btn-info">{{ 'series.edit'|trans }}</button></a>
                                            
                   
                            {{ form_start(delete_form) }}
                            <input class="btn btn-danger" type="submit" value="{{ 'series.delete'|trans }}">
                            {{ form_end(delete_form) }}
                        {% endif %}
                        
                    
        </div>
    </div>

        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#details">{{ 'series.detail'|trans }}</a></li>
            {% if series.seasons %}
                {% for season in series.seasons %}
                    <li><a data-toggle="tab" href="#season{{ season.season }}">{{ 'series.season'|trans }} {{ season.season }}</a></li>
                {% endfor %}
            {% endif %}
            <li><a data-toggle="tab" href="#comments">{{ 'series.comments'|trans }}</a></li>
            <li><a data-toggle="tab" href="#follow">{{ 'series.followedby'|trans }}</a></li>
        </ul>

        <div class="tab-content">
            <div id="details" class="tab-pane fade in active">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <h3>Synopsis</h3>
                  <p>{{ series.synopsis }}</p>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <h3>Casts</h3>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <a href="{{ path('person_new') }}"><button type="button" class="btn btn-secondary">new person</button></a>
            </div>
              {% for person in series.persons %}
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div>{{ person.character }} : {{ person }}</div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"> 
                    <div class="btn-group" role="group">
                        {% if is_granted('ROLE_ADMIN') %}    
                            {% if person.validated==0 %} 
                               <a href="{{ path('person_validate', { 'id': person.id }) }}"><button type="button" class="btn btn-secondary">{{ 'person.validate'|trans }}</button></a>
                            {% endif %}
                            <a href="{{ path('person_edit', { 'id': person.id }) }}"><button type="button" class="btn btn-secondary">{{ 'person.edit'|trans }}</button></a>
                            <a href="{{ path('person_delete', { 'id': person.id }) }}"><button type="button" class="btn btn-secondary">Delete</button></a>
                        {% endif %}  
                    </div> 
                </div>            
            {% endfor %}  
            </div>
                {% if series.seasons %}
                    {% for season in series.seasons %}
                    <div id="season{{ season.season }}" class="tab-pane fade">
                        <div class="panel-group" id="accordion">
                            {% if season.episodes %}
                                {% for episode in season.episodes %}
                                        <div class="panel panel-default">
                                          <div class="panel-heading">
                                            <h4 class="panel-title">

                                              <a data-toggle="collapse" data-parent="#accordion" href="#{{episode.id}}">Episode {{episode.episode}} - {{episode.title}}</a>
                                            </h4>
                                          </div>
                                          <div id="{{episode.id}}" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <div class="btn-group pull-right" role="group">
                                              <a href="{{ path('episode_view', { 'id': episode.id }) }}"><button type="button" class="btn btn-secondary">Viewed</button></a>
                                                {% if is_granted('ROLE_ADMIN') %}    
                                                    <a href="{{ path('episode_edit', { 'id': episode.id }) }}"><button type="button" class="btn btn-secondary">Edit</button></a>
                                                    <a href="{{ path('episode_delete', { 'id': episode.id }) }}"><button type="button" class="btn btn-secondary">Delete</button></a>
                                                {% endif %}
                                                
                                                </div>
                                                <p>{{episode.synopsis}}</p>
                                            </div>
                                          </div>
                                        </div>
                                {% endfor %} 
                            {% endif %}    
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}  
            <div id="comments" class="tab-pane fade">
                {{ include('comment/show.html.twig', { 'series.comments': series.comments }) }}
                {{ include('comment/new.html.twig', { 'form': form }) }}
            </div>
            <div id="follow" class="tab-pane fade">
                <h3>Users</h3>
                {% for user in series.followedBy %}
                        <p id='{{user.username}}'>{{user.username}}</p>
                    {% endfor %}
            </div>
        </div>
        {% if app.user %}
            <script>
            $("#followSeries").on('click', function(){

                    $.ajax({
                        url: "{{ path('series_follow', { 'id': series.id }) }}",
                        // data: ,
                        success: function(){  
                            if ($("#followSeries").text()=='Follow') {
                                $("#followSeries").text('Unfollow');
                                 
                                $("#follow").append( '<p id="{{app.user.username}}">{{ app.user.username }}</p>' );  
                                
                            } else {
                                $("#followSeries").text('Follow');
                                $("#{{ app.user.username }}").remove(); 
                                
                            }
                        },
                        error: function() { 
                        },
                    });

            });
            $.ajax({
                    url: "{{ path('series_isfollow', { 'id': series.id }) }}",
                    // data: ,
                    success: function(data){  
                            
                            $("#followSeries").text(data);
                    },
                    error: function() { 
                    },
                });
            </script>
        {% endif %}       

    {% endif %}
{% endblock %}
