{% extends 'base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}

    {% if series %}

    <div class="row">
        <ol class="breadcrumb">
            <li><a href="{{ path('site_main_index') }}">{{ 'navbar.home'|trans }}</a></li>
            <li><a href="{{ path('series_index') }}">{{ 'navbar.series.index'|trans }}</a></li>
            <li class="active">{{ series.name }}</li>
        </ol>

        {% if series.poster %}
        <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 thumb">       
                <img class="thumbnail img-responsive" src="{{ series.poster }}" alt="{{ series.name }}" > 
        </div>
        {% endif %}
        <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12 thumb">
            <h1 class="page-header">{{ series.name }}</h1>
                
                    <h3>{{ 'series.rating'|trans }}</h3>
                    <li>{{ average }}</li>
                 
                {{ include('seriesrating/new.html.twig') }}
                    {% if is_granted('ROLE_ADMIN')==false %}
                    <li><a href="{{ path('propose_changes', { 'id': series.id }) }}"><button>{{ 'series.change'|trans }}</button></a></li>
                    {% endif %}
                    <li><a href="{{ path('series_follow', { 'id': series.id }) }}"><button>{{ 'series.follow'|trans }} {{ series.name }}</button></a></li>                
                    {% if is_granted('ROLE_ADMIN') %}    
                        {% if series.validated==0 %} 
                            <li><a href="{{ path('series_validate', { 'id': series.id }) }}"><button>{{ 'series.validate'|trans }}</button></a></li>
                        {% endif %}
                    <li><a href="{{ path('series_edit', { 'id': series.id }) }}"><button>{{ 'series.edit'|trans }}</button></a></li>
                                            
                    <li>
                            {{ form_start(delete_form) }}
                            <input type="submit" value="{{ 'series.delete'|trans }}">
                            {{ form_end(delete_form) }}
                        {% endif %}
                    </li>
                
        </div>
    </div>

        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#details">{{ 'series.detail'|trans }}</a></li>
            {% if series.seasons %}
                {% for season in series.seasons %}
                    <li><a data-toggle="tab" href="#season{{ season.season }}">{{ 'series.season'|trans }} {{ season.season }}</a></li>
                {% endfor %}
            {% endif %}
            <li><a data-toggle="tab" href="#comments">{{ 'series.comments'|trans }}</a></li>
            <li><a data-toggle="tab" href="#follow">{{ 'series.followedby'|trans }}</a></li>
        </ul>

        <div class="tab-content">
            <div id="details" class="tab-pane fade in active">
              <h3>Synopsis</h3>
              <p>{{ series.synopsis }}</p>
              <h3>Casting</h3>
                <p>{{ series.persons }}</p>
            </div>
                {% if series.seasons %}
                    {% for season in series.seasons %}
                    <div id="season{{ season.season }}" class="tab-pane fade">
                        <div class="panel-group" id="accordion">
                            {% if season.episodes %}
                                {% for epi in season.episodes %}
                                        <div class="panel panel-default">
                                          <div class="panel-heading">
                                            <h4 class="panel-title">
                                            
                                              <a data-toggle="collapse" data-parent="#accordion" href="#{{epi.title}}">Episode {{epi.episode}} - {{epi.title}}</a>
                                            </h4>
                                          </div>
                                          <div id="{{epi.title}}" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p>{{epi.synopsis}}</p>
                                            </div>
                                          </div>
                                        </div>
                                {% endfor %} 
                            {% endif %}    
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}  
            <div id="comments" class="tab-pane fade">
                {{ include('comment/show.html.twig', { 'series.comments': series.comments }) }}
                {{ include('comment/new.html.twig', { 'form': form }) }}
            </div>
            <div id="follow" class="tab-pane fade">
                <h3>Users</h3>
                <p>{% for user in series.followedBy %}
                        {{user.username}}
                    {% endfor %}</p>
            </div>
        </div>


    {% endif %}
{% endblock %}
